<!DOCTYPE html>
<html lang="en" ng-app="updateNotifierApp" ng-csp>
<head>
    <meta charset="UTF-8">
    <title>Update Notifier Settings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="options.js"></script>
    <script src="angular.min.js"></script>
    <script src="application.js"></script>
</head>
<body>
<div class="container" ng-controller="personController">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="newItemName">სახელი</label>
                <input id="newItemName" class="form-control" tabindex="1" ng-model="subscriptionToAdd.name" >
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="newItemLink">ბმული</label>
                <input id="newItemLink" class="form-control" tabindex="2" ng-model="subscriptionToAdd.link" >
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="newItemIdSelector">სელექტორი</label>
                <input id="newItemIdSelector" class="form-control" tabindex="3" ng-model="subscriptionToAdd.idSelector" >
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label style="opacity: 0">hidden</label>
                <button id="addNewSubscription" class="form-control" type="button" tabindex="4" ng-click="addSubscription()">Save</button>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Updates</th>
                <th>Name</th>
                <th>Link</th>
                <th>Selector</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="s in app.subscriptions">
                <td><span class="badge badge-pill badge-{{s.updateCount > 0 ? 'success' : 'default'}}">{{s.updateCount || 0}}</span></td>
                <td>{{s.name}}</td>
                <td><a href="{{s.link}}" target="_blank">{{s.link.split("/")[2]}}</a></td>
                <td>{{s.idSelector}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="removeSubscription($index)">წაშლა</button>
                </td>
                <td>
                    <button class="btn btn-warning" ng-click="editSubscription($index)">შეცვლა</button>
                </td>
                <td>
                    <button class="btn btn-success" ng-click="resetSubscription($index)">ჩამოყრა</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--<div class="row">-->
        <!--<div class="btn {{synchronized ? 'btn-outline-secondary' : 'btn-success'}}" ng-disabled="synchronized" ng-click="synchronizeSubscriptions()">{{synchronized ? 'შენახულია': 'შენახვა'}}</div>-->
    <!--</div>-->
</div>
</body>
</html>